.mainNav {
  padding-top: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.left {
  margin: auto 0;
  cursor: pointer;
}

.img {
  width: 150px;
  height: 40.77px;
  top: 5.6px;
}

.right {
  display: flex;
  color: white;
}

.right ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.right ul li {
  text-decoration: none;
  list-style: none;
  font-family: 'Work Sans';
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: auto 0;
  cursor: pointer;
}

.btn {
  width: 250px;
  height: 50px;
  margin-left: 2rem;
  border-radius: 64px;
  border: 1px solid white;
  background: transparent;
  color: white;
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  margin: auto;
}

.btn button {
  background: transparent;
  color: white;
  border: none;
  margin-right: 15px;
  cursor: pointer;
}

.outerHam {
  display: flex;
  gap: 1rem;
}

.hambarger {
  color: rgba(237, 30, 121, 1);
  font-size: 30px;
  display: none;;
}

@media only screen and (max-width: 1003px) {

  .hambarger {
    display: block;
    margin: auto;
  }

  .right ul {
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .mainNav {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .btn {
    width: 200px;
    height: 40px;
    margin: auto;
    margin-left: 10px;
  }

  .btn button {
    font-size: 10px;
  }

  .img {
    width: 100px;
    height: 26px;
    top: 5.6px;
  }

  .left h1 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 460px) {
    .btn {
        width: 180px;
        height: 35px;
        font-size: 8px;
    }
  }

@media only screen and (max-width: 368px) {
  .btn {
    display: none;
  }
}
